<%= turbo_frame_tag 'new_comment', target: '_top' do%>
  <%= form_with(model: comment, 
                data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' }) do |form| %>
    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :content, 'Write a comment:', style: "display: block" %>
      <div class="comment">
        <%= form.text_area :content %>
      </div>
    </div>

    <div>
      <%= form.hidden_field :post_id, value: @post.id%>
    </div>
    <div class="comment-corner"></div>
    <div class="submit-and-user">
      <%= image_tag current_user.image %>
      <%= button_tag do %>
        <i class="fas fa-paper-plane"></i>
      <%end%>
    </div>
  <% end %>
<%end%>