<div class="banner">
  <%= button_to action: 'create', controller: 'friend_requests', receiver_id: @user.id do%>
    Send Friend Request
  <% end %>
</div>

<div class="user-name-and-pic">
  <i class="fas fa-user-circle"></i>
<h1 class="username-header"><%= @user.username%></h1>
</div>

<div class="user-profile-content">
    <h2 class="bio-header">Bio</h2>
    <h2>Posts</h2>
    <h2 class="friends-header">Friends</h2>
  <%= turbo_frame_tag 'bio' do%>
    <div class="bio">
      <div class="bio-content">
        <% if @user === current_user %>
          <div class="bio-settings">
          <%= link_to edit_bio_path(current_user) do%>
            <i class="fas fa-pen"></i>
          <%end%>
          </div>
        <% end %>
        <%= simple_format(@user.bio.content) %>
      </div>
    </div>
  <%end%>
  <div class="user-profile-posts">
    <div class="posts">
      <% @user.posts.order(created_at: :desc).each do |post|%>
        <%= render post %>
      <%end%>
    </div>
  </div>

  <div class="user-profile-friends">
    <div class="user-profile-friends-list">
      <% @user.friends.each do |friend|%>
        <%= link_to user_path(friend) do%>
         <%= render friend %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>