<turbo-frame id='<%= dom_id post %>'>
  <div id="<%= dom_id post %>" class="post">
    <div class="post-header">
      <%= link_to user_path(post.user), data: {'turbo-frame': '_top'} do%>
        <div class="post-user">
          <% if post.user.image.attached? %>
            <%= image_tag post.user.image%>
            <% else %>
            <i class="fas fa-user-circle"></i>
          <% end %>
          <%= post.user.username %>
        </div>
      <%end%>
      <% if current_user == post.user%>
        <div class="post-settings" data-controller="post">
          <i class="fas fa-ellipsis-h" data-action='click->post#show'></i>
          <div class="dropdown hidden" data-post-target='dropDown'>
            <div class="dropdown-items">
              <%= link_to edit_post_path(post), data: {'turbo-frame': '_top'} do%>
                <div>
                  <i class="fas fa-pen"></i>
                  <em>Edit Post</em>
                </div>
              <% end %>
              <%= button_to post, method: :delete, data: {'turbo-frame': '_top'} do %>
                <i class="fas fa-trash"></i>
                <em>Delete Post</em>
              <% end %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
    <div class="post-btns">
      <div class="likes">
        <div class="like-count">
          <%= post.likes.count%>
        </div>
        <% if Like.find_by( post_id: post.id, user_id: current_user.id) != nil %>
          <%= button_to Like.find_by( post_id: post.id, user_id: current_user.id), 
                        controller:'likes', method: :delete do%>
            <i class="fas fa-heart"></i>
          <%end%>
        <%else%>
          <%= button_to action: 'create', controller:'likes', post_id: post.id do%>
            <i class="far fa-heart"></i>
          <%end%>
        <%end%>
      </div>
      <%#<% if request.fullpath === '/' || request.fullpath === '/posts' || request.fullpath.start_with?('/users/') %>
        <%= link_to post, data: {'turbo-frame': '_top'} do%>
          <i class="far fa-comments"></i>
        <% end %>
      <%#<% end %>
    </div>

  </div>
</turbo-frame>