<turbo-frame id='nested-form' data-post-target='frame' target='_top'>
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div data-controller='post'>
    <%= form.hidden_field :type, value: 'text' %>
    <div>
      <%= form.fields_for :postable do |subform| %>
        <%= subform.text_area :content, placeholder:'Start typing...',
                              oninput:'this.style.height =
                              "";this.style.height = this.scrollHeight + "px"' %>
      <% end %>
      <% if current_page?(action: 'new') %>
        <div class="new-post-links">
          <i class="fas fa-font text-link forbidden"></i>
          <%= link_to new_post_path(type: 'img'), id:'img-link', class:'image-link', data: {turbo_target: 'nested-form', turbo_frame:'_self'} do %>
            <i class="fas fa-image"></i>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
    <div class='actions'>
      <%= form.submit 'Post', class:'forget-pw-btn' %>
    </div>
  <% end %>
</turbo-frame>