<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5ed27ce724.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <%= link_to root_path do %>
        <div class="logo">
          <i>F</i>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="nav-btns" data-controller='application'>
          <%= link_to friend_requests_path do %>
            <i class="fas fa-envelope"></i>
          <% end %>
          <%= link_to new_post_path do%>
            <i class="fas fa-plus-circle"></i>
          <% end %>
          <div class="user">
            <i class="fas fa-user-circle" data-action="click->application#show"></i>
            <div class="dropdown hidden" data-application-target='dropDown'>
              <%= button_to destroy_user_session_path, method: :delete do %>
                <div class="logout">
                  <i class="fas fa-sign-out-alt" id='logout-icon'></i><em>Log Out</em>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if request.fullpath != '/' && request.fullpath != '/posts' && !request.fullpath.start_with?('/posts/') %>
      <div class="yielded-content">
        <%= yield %>
      </div>
    <% else %>
      <div class="content-wrapper">
        <div class="left-nav">
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home"></i><em>Home</em>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fas fa-handshake"></i><em>Find Friends</em>
              <% end %>
            </li>
            <li><%=  link_to 'a', edit_user_registration_path %></li>
          </ul>
        </div>
        <div class="yielded-content">
          <%= yield %>
        </div>
        <div class="friends">
          <div class="your-friends">
            <h3><i class="fas fa-user-friends"></i>Your Friends</h3>
            <div class="friendlist">
              <% current_user.friends.each do |friend|%>
                <p>
                  <%= link_to user_path(friend) do %>
                    <i class="fas fa-user-circle"></i> <%= friend.username %>
                  <%end%>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
