<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5ed27ce724.js" crossorigin="anonymous"></script>
  </head>

  <body data-controller='application'>
    <%if user_signed_in?%>
      <div class="new-post-modal-bg hidden" data-application-target='modal'>
        <div class="new-post-modal">
          <div class="close-btn" data-action='click->application#showModal'>
            <i class="fas fa-times"></i>
          </div>
          <turbo-frame id='new-post-modal' src='../posts/new'>
          </turbo-frame>  
        </div>
      </div>
    <%end%>
    <nav>
      <%= link_to root_path do %>
        <div class="logo">
          <i>F</i>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="nav-btns">
          <%= link_to friend_requests_path do %>
            <i class="fas fa-envelope"></i>
          <% end %>
            <div data-action='click->application#showModal'>
              <i class="fas fa-plus"></i>
            </div>
          <div class="user">
            <%= image_tag current_user.image, data: {action:'click->application#show'} %>
            <div class="dropdown hidden" data-application-target='dropDown'>
              <%= link_to user_path(current_user) do %>
                <div class="profile">
                  <i class="fas fa-user"></i>
                  <em>Profile</em>
                </div>
              <%end%>
              <%= link_to edit_user_registration_path do%>
                <div class="edit-profile">
                  <i class="fas fa-user-edit"></i>
                  <em>Edit Profile</em>
                </div>
              <%end%>
              <%= button_to destroy_user_session_path, method: :delete do %>
                <div class="logout">
                  <i class="fas fa-sign-out-alt" id='logout-icon'></i><em>Log Out</em>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <%else%>
        <div class="nav-btns">
          <% if request.fullpath.include?('/sign_up') %>
            <%= link_to "Log in", new_session_path(resource_name), class: 'log-in-btn' %>
          <%end%>
          <% if request.fullpath.include?('/sign_in') || request.fullpath.include?('/password/new') %>
            <%= link_to "Sign in", new_user_registration_path, class: 'sign-in-btn' %>
          <%end%>
        </div>
      <% end %>
    </nav>
    <%if notice.present?%>
      <p class="notice"><%= notice %></p>
    <%elsif alert.present?%>
      <p class="alert"><%= alert %></p>
    <%end%>
    <% if request.fullpath != '/' && request.fullpath != '/posts' && !request.fullpath.start_with?('/posts/') %>
      <div class="yielded-content">
        <%= yield %>
      </div>
    <% else %>
      <div class="content-wrapper">
        <div class="left-nav">
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home"></i><em>Home</em>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fas fa-handshake"></i><em>Find Friends</em>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="yielded-content">
          <%= yield %>
        </div>
        <div class="friends">
          <div class="your-friends">
            <h3><i class="fas fa-user-friends"></i>Your Friends</h3>
            <div class="friendlist">
              <% current_user.friends.each do |friend|%>
                <p>
                  <%= link_to user_path(friend) do %>
                    <% if friend.image.attached? %>
                      <%= image_tag friend.image %>
                    <%else%>
                      <i class="fas fa-user-circle"></i>
                    <% end %>
                    <span><%= friend.username %></span>
                  <%end%>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
